layout {
    tab name="IDE" {
      pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
      }
      pane split_direction="vertical" {
        pane size="30%" cwd="~/repos"
        pane split_direction="horizontal" {
          pane size="80%" cwd="~/repos"
          pane cwd="~/repos"
        }
      }
      pane size=1 borderless=true {
        plugin location="zellij:status-bar"
      }
    }
  }
